#border {
 border: 2.5px solid #26a69a;
 box-shadow: 0 1.5px 0 0 #6E6D6D;
 padding: 20px;
}
#head {
	text-align: center;
	border-bottom: 2.5px solid #26a69a;
	padding-bottom: 20px;
}
#cancel {
	text-align: right;
	padding-bottom: 20px;
}
#foot {
	clear: both;
	border-top: 2.5px solid #26a69a;
	padding-top: 20px;
	text-align: center;
}
#foot-home {
	clear: both;
	padding-top: 20px;
	text-align: center;
}

@import 'materialize';